src/
build/
.grunt/
benchmark/
bower_components/
coverage/
test/
# re-include test files as they can be useful for plugins that do testing
!test/*.js
tmp/
CODE_OF_CONDUCT.md
CONTRIBUTING.md
VERSION-FILE

Gruntfile.js
gulpfile.js

.gitattributes
.tern-port
.flycheck
.npmignore
.gitlab-ci.yml
.jscsrc
.jshintrc
.babelrc
.yo-rc.json
.bowerrc
.editorconfig
.eslintignore
.eslintrc
.istanbul.yml
