@iherb:registry=https://tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/registry/
registry=https://tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 1/23/2018.
; begin auth token
//tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IllpY3pPSnA5Z3VnamZiNHZTSnYwczdmdU0zMCJ9.eyJuYW1laWQiOiI3Njk1ZWExMi0zZWFlLTQwM2UtYmY1OC0zNTM1OGE3ZjY1MjYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMGYzNDY4NzUtYzc3Yy00NmZjLTgyZDUtMzE5NGI0Njc4MWY1Iiwic2lkIjoiNWY5NDNjMGEtZDNjMC00ZDhhLWEwZmItOTEwY2IwMDRkZGQxIiwiaXNzIjoidGZzLmloZXJiLm5ldCIsImF1ZCI6InRmcy5paGVyYi5uZXQiLCJuYmYiOjE1MDg5NTYwMDQsImV4cCI6MTUxNjczMjAwNH0.SZG-Y8981l_F8EizEpMhPJuOe9EHoHUXyDlzN3XmCmLRAsFIl4UEDl1YkcFgEEjh5BzBI22cAUJvLUQ_3QAcD5eLcgDeG6BYECaOtx2LdggK3NWy76wKzw-mQXs8zxH42Pyay6mPgk1F5G4HmgXDA968Qy8AXHeKRoLUy1S_7dkjr97d2ZyxoED9WsLsTOq2_-RBWoruFMX1ZQnkw8mpRamBn_WyUCiCb6QyMjU7dd2PaODRG_9lAQY1k6R6DoeLd9Lg1i7HsSi0HyhSj3YHnn8-DoABqiTDaZDMIOE9QDdVT8Avv5ZB0NY9uBXEi88QLi5CWH8sLtpTbIBLjzCS-A
//tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IllpY3pPSnA5Z3VnamZiNHZTSnYwczdmdU0zMCJ9.eyJuYW1laWQiOiI3Njk1ZWExMi0zZWFlLTQwM2UtYmY1OC0zNTM1OGE3ZjY1MjYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMGYzNDY4NzUtYzc3Yy00NmZjLTgyZDUtMzE5NGI0Njc4MWY1Iiwic2lkIjoiNWY5NDNjMGEtZDNjMC00ZDhhLWEwZmItOTEwY2IwMDRkZGQxIiwiaXNzIjoidGZzLmloZXJiLm5ldCIsImF1ZCI6InRmcy5paGVyYi5uZXQiLCJuYmYiOjE1MDg5NTYwMDQsImV4cCI6MTUxNjczMjAwNH0.SZG-Y8981l_F8EizEpMhPJuOe9EHoHUXyDlzN3XmCmLRAsFIl4UEDl1YkcFgEEjh5BzBI22cAUJvLUQ_3QAcD5eLcgDeG6BYECaOtx2LdggK3NWy76wKzw-mQXs8zxH42Pyay6mPgk1F5G4HmgXDA968Qy8AXHeKRoLUy1S_7dkjr97d2ZyxoED9WsLsTOq2_-RBWoruFMX1ZQnkw8mpRamBn_WyUCiCb6QyMjU7dd2PaODRG_9lAQY1k6R6DoeLd9Lg1i7HsSi0HyhSj3YHnn8-DoABqiTDaZDMIOE9QDdVT8Avv5ZB0NY9uBXEi88QLi5CWH8sLtpTbIBLjzCS-A
; end auth token