registry=https://tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 1/23/2018.
; begin auth token
//tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IllpY3pPSnA5Z3VnamZiNHZTSnYwczdmdU0zMCJ9.eyJuYW1laWQiOiI3Njk1ZWExMi0zZWFlLTQwM2UtYmY1OC0zNTM1OGE3ZjY1MjYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYTYwYzQyMzEtNzZhMS00ZGNlLTlhMzQtNjkxMDhlZmRjZTk0Iiwic2lkIjoiMGY5OTA4MWEtMDgwNC00MzAzLThiMGEtYTQ0ZDJkN2IzOTY2IiwiaXNzIjoidGZzLmloZXJiLm5ldCIsImF1ZCI6InRmcy5paGVyYi5uZXQiLCJuYmYiOjE1MDg5NTM5NTksImV4cCI6MTUxNjcyOTk1OX0.l0Ec0r6IUNSYlfkJl7Bey6YKU0yjwdxmI_4pTXAzh2yt3lCDFb8zIaPdm7MwQ88kaFFSJHuOs0oXm2TL_znkKB3mIyKoiyMHVgEL4e9jX86LifpBm2LppVGGt4lbtZ-dHP38CZyD424hAVzSC0VQ8dM5WOkLF8NQsUsBh6iKkOq8ISkMbzjJQjGdcCm0kNr8xjFhHS6digbbTMrDFa1C6I-e56NeSxfn_Ll5KHN1Rnh7G-mwo4IUn6MzxFU_3nq-UDSD8B4IqTsrfcqHYJurExA_yeSOrlcm0be7Pdyd_8nLpqRVwXZ4zbUAAWKcSH0--q2ARvn-K0aUtQJ45s0fOw
//tfs.iherb.net/tfs/iHerb%20Projects%20Collection/_packaging/iherb/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IllpY3pPSnA5Z3VnamZiNHZTSnYwczdmdU0zMCJ9.eyJuYW1laWQiOiI3Njk1ZWExMi0zZWFlLTQwM2UtYmY1OC0zNTM1OGE3ZjY1MjYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYTYwYzQyMzEtNzZhMS00ZGNlLTlhMzQtNjkxMDhlZmRjZTk0Iiwic2lkIjoiMGY5OTA4MWEtMDgwNC00MzAzLThiMGEtYTQ0ZDJkN2IzOTY2IiwiaXNzIjoidGZzLmloZXJiLm5ldCIsImF1ZCI6InRmcy5paGVyYi5uZXQiLCJuYmYiOjE1MDg5NTM5NTksImV4cCI6MTUxNjcyOTk1OX0.l0Ec0r6IUNSYlfkJl7Bey6YKU0yjwdxmI_4pTXAzh2yt3lCDFb8zIaPdm7MwQ88kaFFSJHuOs0oXm2TL_znkKB3mIyKoiyMHVgEL4e9jX86LifpBm2LppVGGt4lbtZ-dHP38CZyD424hAVzSC0VQ8dM5WOkLF8NQsUsBh6iKkOq8ISkMbzjJQjGdcCm0kNr8xjFhHS6digbbTMrDFa1C6I-e56NeSxfn_Ll5KHN1Rnh7G-mwo4IUn6MzxFU_3nq-UDSD8B4IqTsrfcqHYJurExA_yeSOrlcm0be7Pdyd_8nLpqRVwXZ4zbUAAWKcSH0--q2ARvn-K0aUtQJ45s0fOw
; end auth token